.button {
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 8px 18px;
  background: var(--secondary);
  color: #fff;
  border-radius: 5px;
}

.button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .button {
    padding: 4px 12px;
  }
}
